*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    background-image: url('justin-roy-XkHK1VWIIx4-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo{
    user-select: none;
    font-size: 2em;
    color: white;
}
.navigation a{
    position: relative;
    text-decoration: none;
    font-size: 1.1em;
    color:white;
    font-weight: 500;
    margin-left: 40px;
}
.navigation .btn-login{
    width: 130px;
    height: 50px;
    border: 2px solid white;
    outline: none;
    background: transparent;
    border-radius: 6px;
    cursor:pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 40px;  
}
.navigation .btn-login:hover{
    background-color: white;
    color: black;
    transition: 0.3s;
}
.navigation a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background: white;
    left:0;
    bottom:-6px;
    transform-origin:left;
    transform: scaleX(0);
    transition: transform 0.5s;
}
.navigation a:hover::after{
    transform-origin: right;
    transform:scaleX(1);

}
.wrapper{
    position: relative ;
    width:400px;
    height: 440px;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid rgb(189, 191, 192);
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(44, 40, 40);
    transform: scale(0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.4s ease;
}
.wrapper form-box{
    width: 100%;
    padding: 40px;
}
.form-box h2{
    text-align: center;
    font-size:2em;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px rgb(255, 255, 255) solid;
    margin: 30px 0;
}
.input-box label{
    position:absolute;
    left: 5px;
    top:50%;
    transform: translateY(-50%);
    font-size: 1rem;
    pointer-events: none;
    font-weight: normal;
    color: white;
    transition: 0.5s;
}

.input-box input:focus~label, .input-box input:valid~label{
    top:-5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: transparent;
    color: white;
    font-size: 1em;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size:1.2em;
    color:white;
    line-height: 57px;
}
.remember-forgot{
    color:white;
    font-size:0.9rem;
    margin: 15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot a{
    color:white;
    text-decoration: none;
}
.remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.login-btn{
    width:100%;
    height:45px;
    border-radius: 6px;
    outline: none;
    border: 2px white solid;
    background-color: white;
    color:black;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}
.login-btn:hover{
    background: transparent;
    color: white;
    border: 2px white solid;
}
.login-btn:active{
    transform: translateY(5px);
}
.login-register{
    text-align: center;
    margin: 15px 0px 15px 0px;
    color: white;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-register a{
    text-decoration: none;
    color: white;
    font-weight:bold;
    font-size: 1em;
}
.login-register a:hover{
    text-decoration: underline;
}
#cancel-icon-div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
    width: 100%;
}
#cancel-icon{
    font-size:2em;
    color:white; 
    cursor: pointer; 
    margin-top:-15px; 
}
#cancel-icon:hover{
    color:rgb(216, 197, 197);
}